{{!< default}}

{{! Author Profile Page }}
<header class="author-header">
    <div class="container">
        <div class="author-header-content">
            
            {{! Author Info }}
            <div class="author-info">
                {{#if profile_image}}
                <div class="author-avatar-large">
                    <img src="{{img_url profile_image size="l"}}" alt="{{name}}">
                </div>
                {{/if}}
                
                <div class="author-details">
                    <h1 class="author-name">{{name}}</h1>
                    
                    {{#if bio}}
                    <p class="author-bio">{{bio}}</p>
                    {{/if}}
                    
                    <div class="author-meta">
                        {{#if location}}
                        <span class="author-location">📍 {{location}}</span>
                        {{/if}}
                        
                        <span class="author-post-count">{{plural count.posts empty='No posts' singular='% post' plural='% posts'}}</span>
                    </div>
                    
                    {{! Author Social Links }}
                    <div class="author-social">
                        {{#if website}}
                        <a href="{{website}}" target="_blank" rel="noopener" class="author-social-link">
                            🌐 Website
                        </a>
                        {{/if}}
                        
                        {{#if twitter}}
                        <a href="{{twitter_url}}" target="_blank" rel="noopener" class="author-social-link">
                            🐦 Twitter
                        </a>
                        {{/if}}
                        
                        {{#if facebook}}
                        <a href="{{facebook_url}}" target="_blank" rel="noopener" class="author-social-link">
                            📘 Facebook
                        </a>
                        {{/if}}
                    </div>
                </div>
            </div>
            
            {{! Author Cover Image }}
            {{#if cover_image}}
            <div class="author-cover-image">
                <img src="{{img_url cover_image size="xl"}}" alt="{{name}}">
            </div>
            {{/if}}
            
        </div>
    </div>
</header>

{{! Author Posts }}
<section class="author-posts">
    <div class="container">
        <h2 class="section-title">Posts by {{name}}</h2>
        
        <div class="posts-grid{{#match @custom.card_style "Creative"}} creative-cards{{/match}}">
            {{#foreach posts}}
                {{> post-card}}
            {{/foreach}}
        </div>
        
        {{! Pagination }}
        {{pagination}}
    </div>
</section>